
.register{
    font-family: 'Lora', serif;
    font-size: 30px;
    margin-left: -30px;
    margin-top: -30px;
}

.studentforminput{
    display: flex;
    flex-direction: column;
    width: 40%;
    height:auto;
    margin-top:10%;
    border: 1px solid grey;
    background-color: #567189;
    color: white;
    padding: 60px;
}
.form{
    margin-left: 50%;
}
.studentforminput>label{
    margin-bottom: 10px;
}

.name{
    margin-top: 20px;
    height: 40px;
    border: 0;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
    background-color: #567189;
    color: white;
}
.email{
    height: 40px;
    border: 0;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
    background-color: #567189;
    color: white;
}
.DOB{
    height: 40px;
    border: 0;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
    background-color: #567189;
    color: white;
}
.Degree{
    height: 40px;
    border: 0;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
    background-color: #567189;
    color: white;
}
.Branch{
    height: 40px;
    border: 0;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
    background-color: #567189;
}
.Submit{
    margin-top: 10%;
    height: 50px;
    border-radius: 50px;
    background-color: #46C2CB;
    color: white;
    cursor: pointer;
}
.studentforminput input::placeholder{
    color:white;
}
.studentforminput input::placeholder:hover {
    color:aqua;
}
.studentforminput input:hover{
    border-color: aqua;
}
